/*------------------
Google Fonts
------------------*/

@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700');

html {
	height: 100%;
}

header {
	margin-top: 25px;
}

body {
	/*background-color: #f3b757;
	background-image: linear-gradient(180deg, #f3b757 18%, #e98202 74%);*/
	background-color: #1DABB8;
	color: #B4E5EA;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	min-height: 100%;
	height: 100%;
	width: 100%;
}

h1 {
	font-weight: 500;
	font-size: 1.7em;
	text-align: center;
	margin: 10px 0;
}

h2 {
	font-weight: 400;
	font-size: 1.25em;
	text-align: center;
}

a {
	text-decoration: none;
	color: #fff;
}

button {
	border: none;
	padding: 15px 30px;
	text-align: center;
	font-size: 1em;
	width: 165px;
}

button:hover {
	cursor: pointer;
	border-color: #1DABB8;
	color: #1DABB8;
}

footer {
	margin-bottom: 5px;
	text-align: center;
	margin-top: auto;
}

.wrapper {
	width: 100%;
	margin: auto;
	min-height: 100%;
}

.center-content {
	width: 100%;
    margin: auto;
}

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quote-container {
	background-color: #ECF0F1;
	box-shadow: 5px 5px rgba(0,0,0,0.1);
	color: #3B3C3D;
	line-height: 2.5em;
	width: 85%;
	margin: 25px 0;
	padding: 10px;
}

#quoteDisplay {
	font-size: 1.5em;
	font-family: 'Slabo 27px', serif;
	text-align: left;
	width: 95%;
}

.getQuote {
	border: solid 5px #3B3C3D;
	background-color: #ECF0F1;
	color: #3B3C3D;
	margin: 20px 0 10px 0;
}

.share-text {
	margin: 25px 0 15px 0;
}

.fa-twitter {
	font-size: 1.8em;
	color: #3B3C3D;
	border: solid 5px #3B3C3D;
	border-radius: 50%;
	padding: 10px;
	margin: 10px 0 30px 0;
}

.fa-twitter:hover {
	border-color: #ECF0F1;
	color: #ECF0F1;
}

.fa-twitter {
	font-size: 1.8em;
	color: #3B3C3D;
	border: solid 5px #3B3C3D;
	border-radius: 50%;
	padding: 10px;
	margin: 10px 0 30px 0;
}













